.alert-sucess {
  color: #658f62;
  background-color: #c7eec3;
  border-color: #a0aba0;
  border-radius: 4px;
  padding: 0.9rem;
  margin-top: 0.9rem;
  font-size: 0.9rem;
  max-width: 100%;
  box-sizing: border-box;
  z-index: -1;
}

@media (min-width: 576px) {
  .alert-sucess {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .alert-sucess {
    font-size: 1.125rem;
    padding: 1.125rem;
  }
}